.avatar {
  animation: glow 1.5s;
  animation-fill-mode: backwards;
  animation-direction: alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 orange;
  }
  50% {
    box-shadow: 0 0 100px 30px green
  }
  100% {
    box-shadow: 0 0 0 0 orange;
  }
}
